.header a {
    text-decoration: none;
    margin: 20px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    background-color: #4B565F;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
}
.header a:hover{
    background-color: #CBD4D6;
    color: black;
    padding: 13px;
}

