.aboutme-container{
    padding-bottom: 40px;
}
.aboutme-title{
    color: white;
}
.about-me{
    border: 4px solid #CBD4D6;
    margin: 20px;
    
    
}

.about-me p{
    color: white;
    padding: 0 20px;
    font-size: 20px;
    
}
.my-img{
    width: 400px;
    height: 500px;
    border-radius: 5px;
    margin-top: 10px;
}
